@{
  Layout = "_Layout";
}
<div class="container">
  <h1>@Model.Name</h1>
  <h3>Stylists</h3>
  <ul>
    @foreach (var stylist in Model.GetStylistList())
    {
        <li>@stylist.Name</li>
    }
  </ul>

  <h4>Add A Stylist</h4>
  <form action="/clients/@Model.Id/addstylist" method="post">
    <select name="addedStylistId" class="form-control form-control-sm">
        @foreach (var stylist in Model.GetAllStylists())
        {
            <option value="@stylist.Id">@stylist.Name</option>
        }
    </select>
    <button type="submit" class="btn btn-info">Add Stylist</button>
  </form>

  <a href="/clients/@Model.Id/edit" class="btn btn-info">Edit @Model.Name</a>
  <br>
  <form action="/clients/@Model.Id/delete" method="post">
    <button type="submit" class="btn btn-danger">Delete @Model.Name</button>
  </form>
</div>
