@{
  Layout = "_Layout";
}
<div class="container">
  <h1>@Model.Name</h1>
  <h3>Clients</h3>
  <ul>
    @foreach (var client in Model.GetClientList())
    {
        <li>@client.Name</li>
    }
  </ul>

  <h3>Services Offered</h3>
  <ul>
    @foreach (var service in Model.GetServiceList())
    {
        <li>@service.Name</li>
    }
  </ul>

  <h4>Add A Client</h4>
  <form action="/stylists/@Model.Id/addclient" method="post">
    <select name="addedClientId" class="form-control form-control-sm">
        @foreach (var client in Model.GetAllClients())
        {
            <option value="@client.Id">@client.Name</option>
        }
    </select>
    <button type="submit" class="btn btn-info">Add Client</button>
  </form>

  <h4>Add A Service</h4>
  <form action="/stylists/@Model.Id/addservice" method="post">
    <select name="addedServiceId" class="form-control form-control-sm">
        @foreach (var service in Model.GetAllServices())
        {
            <option value="@service.Id">@service.Name</option>
        }
    </select>
    <button type="submit" class="btn btn-info">Add Service</button>
  </form>
  <a href="/stylists/@Model.Id/edit" class="btn btn-info">Edit @Model.Name</a>
  <br>
  <form action="/stylists/@Model.Id/delete" method="post">
    <button type="submit" class="btn btn-danger">Delete @Model.Name</button>
  </form>
</div>
